
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400&family=Poppins:wght@200;400;600&display=swap" rel="stylesheet">
</head>
<h1>Leandro Carrizo - Sound designer</h1>
<body>
  <div class="separador"><span></span> </div>  
  <div class="work">
    <h2>-Hellslinger:</h2>
    <h4>Hellslinger is a retro FPS. The demo is available on steam <a href="https://store.steampowered.com/app/2140540/Hellslinger/  " style="color:#F95757 ">here</a>. We are a 4 members team, I am responsible for sound design and music. 
    </h4>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VOc-j4jzDL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
   
<!--</div>
<div class="work">
    <h2>Wwise adventure game</h2>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/VOc-j4jzDL4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <p>This is a implementation of music and sounds I did on Wwise using their adventure game.</p>
</div>-->
<div class="work">
    <h2>-Sound design for animation:</h2>
    <h4>Sound designed to fit the voiceover mood</h4>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IwVaO-P_bwQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>  
    
</div>
</body>
</html>